{% load static %}
<header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('{% static 'images/system.png' %}')">
                <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">System Application</h2>
                <p class="lead">All platform applications are made here.</p>
                </div>
            </div>
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('{% static 'images/web.jpeg' %}')">
                <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Web Application</h2>
                <p class="lead">All types of static and dyanamic web pages.</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('{% static 'images/mobile.png' %}')">
                <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Mobile Application</h2>
                <p class="lead">Make all of our best to make user friendly apps.</p>
                </div>
            </div>
            
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
        </div>
    </header>

    <div class="container-fluid p-3 text-black" style="background:#eef2f2;">
          <center><h1 class="display-3">Our Blog!</h1></center>
    </div>

    <div class="container-fluid p-3 bg-white text-black">
        <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">Andriod</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Working In ANDROID-SDK</a>
              </h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">This SDK provides a selection of tools that are required to build Android applications and ensures the process goes as smoothly as possible.</p>
              <a href="#">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="{% static 'images/Android.svg' %}" data-holder-rendered="true">
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">MAC / IOS</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Best of ios</a>
              </h3>
              <div class="mb-1 text-muted">Nov 11</div>
              <p class="card-text mb-auto">A set of tools that can be used to create and develop applications..</p>
              <a href="#">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="{% static 'images/mac.svg' %}" data-holder-rendered="true" style="width: 200px; height: 250px;">
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Windows</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Microsofts based apps</a>
              </h3>
              <div class="mb-1 text-muted">Nov 11</div>
              <p class="card-text mb-auto">Microsoft apps and services is a common authentication app which connects multiple apps and services across Microsoft with your email providers.</p>
              <a href="#">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="{% static 'images/windows.svg' %}" data-holder-rendered="true" style="width: 200px; height: 250px;">
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">WEB APP</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Django / Nodejs</a>
              </h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">Django is a lot more secure than NodeJS. It has ​built-in support to prevent security flaws such as cross-site scripting (XSS)...</p>
              <a href="#">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="{% static 'images/webapp.png' %}" data-holder-rendered="true">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid p-3 text-black" style="background:#eef2f2;">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">WEB BASED</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">₹ 15,000 <small class="text-muted">/ site</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Hosting included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">MOBILE APP</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">₹35,000 <small class="text-muted">/ apps</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Backup kit</li>
              <li>Free 3 updates</li>
              <li>Service</li>
              <li>Help center access</li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">SYSTEM APP</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">₹50,000 <small class="text-muted">/ system</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>All platform Support</li>
              <li>Error Free Installtion</li>
              <li>Help center access</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
